@font-face {
    font-family: "GenBkBas";
    src: url("../../BigAssets/Citadel RPG GUI/Fonts/GenBkBasR.ttf") format("truetype");
}

* {
    box-sizing: border-box;
    font-family: "GenBkBas";
}

.gui-container {
    position: relative;
}

/* .gui-navbar */

.gui-navbar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 47px;
    border-image: url("../../BigAssets/Citadel RPG GUI/Sliced/Various Content Box Slices/heading_type_2.png") 15 70 fill / 15px 70px;
    border-image-repeat: repeat;
    padding: 12px 70px;
    z-index: 1000;
}

.gui-navbar button {
    border: none;
    background: none;
    color: #DDC;
    text-shadow: #887 0 0 2px;
    font-size: 16px;
    padding: 14px;
    margin: -12px 0;
    cursor: pointer;
}

.gui-navbar button:hover {
    text-shadow: #998 0 0 8px;
    color: #FFE;
}

/* .gui-box */

.gui-box-title {
    height: 90px;
    border-image: url(/* 0 0 304 90 */ "../../BigAssets/Citadel RPG GUI/Sliced/9-Slice Box 1/content_box_3.png") 30 131 fill / 30px 131px;
    border-image-repeat: repeat;
    padding: 24px 120px 38px;
    text-align: center;
    line-height: 28px;
    color: #311;
    font-size: 18px;
}

.gui-box.gui-bottom-ornament {
    background: url(/* 0 0 114 45 */ "../../BigAssets/Citadel RPG GUI/Sliced/9-Slice Box 1/bottom_box_ornament.png") no-repeat bottom center;
    padding-bottom: 42px;
}

.gui-box-body {
    border-image: url(/* 0 90 304 252 */ "../../BigAssets/Citadel RPG GUI/Sliced/9-Slice Box 1/content_box_3.png") 30 30 fill / 30px 30px;
    border-image-repeat: repeat;
    padding: 24px 28px;
    color: #DCC;
    text-shadow: black 2px 0 0;
}

.gui-box-body p {
    margin: 0 0 1em;
}

.gui-box-body p .name {
    color: #DD3;
}

/* .gui-locations */

ul.gui-locations {
    padding: 0;
    margin: 0;
}

ul.gui-locations li {
    list-style-type: none;
    position: relative;
    height: 50px;
    padding: 4px 4px 4px 52px;
    cursor: pointer;
}

ul.gui-locations li:hover {
    background: linear-gradient(90deg, rgba(255,255,255,0.1) 0%, rgba(255,255,255,0.05) 35%, rgba(255,255,255,0) 100%);
}

ul.gui-locations .flag {
    position: absolute;
    top: 2px;
    left: 2px;
    bottom: 2px;
    width: 46px;
    background: url("../../BigAssets/Citadel RPG GUI/Sliced/Box - Loot/slot_frame.png") center center no-repeat;
}

ul.gui-locations .name {
    height: 18px;
    margin-top: 4px;
}

ul.gui-locations .info {
    font-size: 14px;
    color: #877;
}

.location-mini {
    overflow: hidden;
    position: absolute;
    top: 2px;
    left: 2px;
    bottom: 2px;
    width: 46px;
}

.location-mini:after {    
    position: absolute;
    inset: 0;
    content: "";
    background: url("../../BigAssets/Citadel RPG GUI/Sliced/Box - Loot/slot_frame.png") center center no-repeat;
}

.location-mini .hex {
    transform: scale(0.5);
}


/* .gui-pagination */

.gui-pagination {
    height: 38px;
    padding: 4px;
}

button.go {
    border: none;
    height: 30px;
    width: 30px;
    cursor: pointer;
}

button.go:disabled {
    cursor: default;
}

button.go.left {
    float: left;
    background: url("../../BigAssets/Citadel RPG GUI/Sliced/Box - Character Sheet/left_n.png") center center no-repeat;
}

button.go.left:hover {
    background-image: url("../../BigAssets/Citadel RPG GUI/Sliced/Box - Character Sheet/left_h.png");
}

button.go.left:disabled {
    background-image: url("../../BigAssets/Citadel RPG GUI/Sliced/Box - Character Sheet/left_p.png") !important;
}

button.go.right {
    float: right;
    background: url("../../BigAssets/Citadel RPG GUI/Sliced/Box - Character Sheet/right_n.png") center center no-repeat;
}

button.go.right:hover {
    background-image: url("../../BigAssets/Citadel RPG GUI/Sliced/Box - Character Sheet/right_h.png");
}

button.go.right:disabled {
    background-image: url("../../BigAssets/Citadel RPG GUI/Sliced/Box - Character Sheet/right_p.png") !important;
}

/* .map */

.map {
    position: relative;
    height: 100vh;
}

.hex {
    background-repeat: no-repeat;
    position: absolute;
    width: 128px;
    height: 192px;
}

.hex.plains0 {
    background-image: url(/* 0 0 256 384 50 */ "../../BigAssets/Terrain Hexes/Tiles/hexPlains00.png")
}

.hex.plains1 {
    background-image: url(/* 0 0 256 384 50 */ "../../BigAssets/Terrain Hexes/Tiles/hexPlains01.png")
}

.hex.plains2 {
    background-image: url(/* 0 0 256 384 50 */ "../../BigAssets/Terrain Hexes/Tiles/hexPlains02.png")
}

.hex.plains3 {
    background-image: url(/* 0 0 256 384 50 */ "../../BigAssets/Terrain Hexes/Tiles/hexPlains03.png")
}

.hex.farm0 {
    background-image: url(/* 0 0 256 384 50 */ "../../BigAssets/Medieval-Fantasy Hex Locations/Tiles/hexPlainsFarm00.png")
}

.hex.farm1 {
    background-image: url(/* 0 0 256 384 50 */ "../../BigAssets/Medieval-Fantasy Hex Locations/Tiles/hexPlainsFarm01.png")
}

.hex.farm2 {
    background-image: url(/* 0 0 256 384 50 */ "../../BigAssets/Medieval-Fantasy Hex Locations/Tiles/hexPlainsFarm02.png")
}

.hex.farm3 {
    background-image: url(/* 0 0 256 384 50 */ "../../BigAssets/Medieval-Fantasy Hex Locations/Tiles/hexPlainsFarm03.png")
}

.hex.mountain0 {
    background-image: url(/* 0 0 256 384 50 */ "../../BigAssets/Terrain Hexes/Tiles/hexMountain00.png")
}

.hex.mountain1 {
    background-image: url(/* 0 0 256 384 50 */ "../../BigAssets/Terrain Hexes/Tiles/hexMountain01.png")
}

.hex.mountain2 {
    background-image: url(/* 0 0 256 384 50 */ "../../BigAssets/Terrain Hexes/Tiles/hexMountain02.png")
}

.hex.mountain3 {
    background-image: url(/* 0 0 256 384 50 */ "../../BigAssets/Terrain Hexes/Tiles/hexMountain03.png")
}

.hex.forest0 {
    background-image: url(/* 0 0 256 384 50 */ "../../BigAssets/Terrain Hexes/Tiles/hexForestBroadleaf00.png")
}

.hex.forest1 {
    background-image: url(/* 0 0 256 384 50 */ "../../BigAssets/Terrain Hexes/Tiles/hexForestBroadleaf01.png")
}

.hex.forest2 {
    background-image: url(/* 0 0 256 384 50 */ "../../BigAssets/Terrain Hexes/Tiles/hexForestBroadleaf02.png")
}

.hex.forest3 {
    background-image: url(/* 0 0 256 384 50 */ "../../BigAssets/Terrain Hexes/Tiles/hexForestBroadleaf03.png")
}

.hex.ocean0 {
    background-image: url(/* 0 0 256 384 50 */ "../../BigAssets/Terrain Hexes/Tiles/hexOcean00.png")
}

.hex.ocean1 {
    background-image: url(/* 0 0 256 384 50 */ "../../BigAssets/Terrain Hexes/Tiles/hexOcean01.png")
}

.hex.ocean2 {
    background-image: url(/* 0 0 256 384 50 */ "../../BigAssets/Terrain Hexes/Tiles/hexOcean02.png")
}

.hex.ocean3 {
    background-image: url(/* 0 0 256 384 50 */ "../../BigAssets/Terrain Hexes/Tiles/hexOcean03.png")
}

.hex.marsh0 {
    background-image: url(/* 0 0 256 384 50 */ "../../BigAssets/Terrain Hexes/Tiles/hexMarsh00.png")
}

.hex.marsh1 {
    background-image: url(/* 0 0 256 384 50 */ "../../BigAssets/Terrain Hexes/Tiles/hexMarsh01.png")
}

.hex.marsh2 {
    background-image: url(/* 0 0 256 384 50 */ "../../BigAssets/Terrain Hexes/Tiles/hexMarsh02.png")
}

.hex.marsh3 {
    background-image: url(/* 0 0 256 384 50 */ "../../BigAssets/Terrain Hexes/Tiles/hexMarsh03.png")
}

.hex.hills0 {
    background-image: url(/* 0 0 256 384 50 */ "../../BigAssets/Terrain Hexes/Tiles/hexHills00.png")
}

.hex.hills1 {
    background-image: url(/* 0 0 256 384 50 */ "../../BigAssets/Terrain Hexes/Tiles/hexHills01.png")
}

.hex.hills2 {
    background-image: url(/* 0 0 256 384 50 */ "../../BigAssets/Terrain Hexes/Tiles/hexHills02.png")
}

.hex.hills3 {
    background-image: url(/* 0 0 256 384 50 */ "../../BigAssets/Terrain Hexes/Tiles/hexHills03.png")
}

.hex.moor0 {
    background-image: url(/* 0 0 256 384 50 */ "../../BigAssets/Terrain Hexes/Tiles/hexScrublands00.png")
}

.hex.moor1 {
    background-image: url(/* 0 0 256 384 50 */ "../../BigAssets/Terrain Hexes/Tiles/hexScrublands01.png")
}

.hex.moor2 {
    background-image: url(/* 0 0 256 384 50 */ "../../BigAssets/Terrain Hexes/Tiles/hexScrublands02.png")
}

.hex.moor3 {
    background-image: url(/* 0 0 256 384 50 */ "../../BigAssets/Terrain Hexes/Tiles/hexScrublands03.png")
}

.hex.village0 {
    background-image: url(/* 0 0 256 384 50 */ "../../BigAssets/Medieval-Fantasy Hex Locations/Tiles/hexPlainsVillage00.png")
}

.hex.village1 {
    background-image: url(/* 0 0 256 384 50 */ "../../BigAssets/Medieval-Fantasy Hex Locations/Tiles/hexPlainsVillage01.png")
}

.hex.village2 {
    background-image: url(/* 0 0 256 384 50 */ "../../BigAssets/Medieval-Fantasy Hex Locations/Tiles/hexPlainsVillage02.png")
}

.hex.village3 {
    background-image: url(/* 0 0 256 384 50 */ "../../BigAssets/Medieval-Fantasy Hex Locations/Tiles/hexPlainsVillage03.png")
}

.hex.village-small0 {
    background-image: url(/* 0 0 256 384 50 */ "../../BigAssets/Medieval-Fantasy Hex Locations/Tiles/hexPlainsVillageSmall00.png")
}

.hex.village-small1 {
    background-image: url(/* 0 0 256 384 50 */ "../../BigAssets/Medieval-Fantasy Hex Locations/Tiles/hexPlainsVillageSmall01.png")
}

.hex.village-small2 {
    background-image: url(/* 0 0 256 384 50 */ "../../BigAssets/Medieval-Fantasy Hex Locations/Tiles/hexPlainsVillageSmall02.png")
}

.hex.village-small3 {
    background-image: url(/* 0 0 256 384 50 */ "../../BigAssets/Medieval-Fantasy Hex Locations/Tiles/hexPlainsVillageSmall03.png")
}

.hex.graveyard {
    background-image: url(/* 0 0 256 384 50 */ "../../BigAssets/Medieval-Fantasy Hex Locations/Tiles/hexMarshGraveyard00.png")
}

.hex.henge {
    background-image: url(/* 0 0 256 384 50 */ "../../BigAssets/Medieval-Fantasy Hex Locations/Tiles/hexPlainsHenge00.png")
}

.hex.forester0 {
    background-image: url(/* 0 0 256 384 50 */ "../../BigAssets/Medieval-Fantasy Hex Locations/Tiles/hexForestBroadleafForester00.png")
}

.hex.forester1 {
    background-image: url(/* 0 0 256 384 50 */ "../../BigAssets/Medieval-Fantasy Hex Locations/Tiles/hexForestBroadleafForester01.png")
}

.hex.temple-ruins {
    background-image: url(/* 0 0 256 384 50 */ "../../BigAssets/Medieval-Fantasy Hex Locations/Tiles/hexPlainsTempleRuins00.png")
}

.hex.village-under {
    background-image: url(/* 0 0 256 384 50 */ "../../BigAssets/Medieval-Fantasy Hex Locations/Tiles/hexPlainsHalflingVillage00.png")
}

.hex.smithy {
    background-image: url(/* 0 0 256 384 50 */ "../../BigAssets/Medieval-Fantasy Hex Locations/Tiles/hexPlainsSmithy00.png")
}

.hex.mountain-mine0 {
    background-image: url(/* 0 0 256 384 50 */ "../../BigAssets/Medieval-Fantasy Hex Locations/Tiles/hexMountainMine00.png")
}

.hex.mountain-mine1 {
    background-image: url(/* 0 0 256 384 50 */ "../../BigAssets/Medieval-Fantasy Hex Locations/Tiles/hexMountainMine01.png")
}

.hex.mountain-mine2 {
    background-image: url(/* 0 0 256 384 50 */ "../../BigAssets/Medieval-Fantasy Hex Locations/Tiles/hexMountainMine02.png")
}

.hex.mountain-mine3 {
    background-image: url(/* 0 0 256 384 50 */ "../../BigAssets/Medieval-Fantasy Hex Locations/Tiles/hexMountainMine03.png")
}

.hex.hills-mine0 {
    background-image: url(/* 0 0 256 384 50 */ "../../BigAssets/Medieval-Fantasy Hex Locations/Tiles/hexHillsMine00.png")
}

.hex.hills-mine1 {
    background-image: url(/* 0 0 256 384 50 */ "../../BigAssets/Medieval-Fantasy Hex Locations/Tiles/hexHillsMine01.png")
}

.hex.hills-mine2 {
    background-image: url(/* 0 0 256 384 50 */ "../../BigAssets/Medieval-Fantasy Hex Locations/Tiles/hexHillsMine02.png")
}

.hex.hills-mine3 {
    background-image: url(/* 0 0 256 384 50 */ "../../BigAssets/Medieval-Fantasy Hex Locations/Tiles/hexHillsMine03.png")
}

.hex.forest-ruins {
    background-image: url(/* 0 0 256 384 50 */ "../../BigAssets/Medieval-Fantasy Hex Locations/Tiles/hexForestCastleRuins00.png")
}

.hex.inn {
    background-image: url(/* 0 0 256 384 50 */ "../../BigAssets/Medieval-Fantasy Hex Locations/Tiles/hexPlainsInn00.png")
}

.hex.temple {
    background-image: url(/* 0 0 256 384 50 */ "../../BigAssets/Medieval-Fantasy Hex Locations/Tiles/hexPlainsTemple00.png")
}

.hex.elven-lodge {
    background-image: url(/* 0 0 256 384 50 */ "../../BigAssets/Medieval-Fantasy Hex Locations/Tiles/hexForestElvenLodge00.png")
}

.hex.castle-red {
    background-image: url(/* 0 0 256 384 50 */ "../../BigAssets/Medieval-Fantasy Hex Locations/Tiles/hexPlainsCastle00.png")
}

.hex.castle-green {
    background-image: url(/* 0 0 256 384 50 */ "../../BigAssets/Medieval-Fantasy Hex Locations/Tiles/hexPlainsCastle00_green.png")
}

.hex.castle-blue {
    background-image: url(/* 0 0 256 384 50 */ "../../BigAssets/Medieval-Fantasy Hex Locations/Tiles/hexPlainsCastle00_blue.png")
}

.hex.mountain-castle {
    background-image: url(/* 0 0 256 384 50 */ "../../BigAssets/Medieval-Fantasy Hex Locations/Tiles/hexMountainCastle00.png")
}

.hex.walled-city {
    background-image: url(/* 0 0 256 384 50 */ "../../BigAssets/Medieval-Fantasy Hex Locations/Tiles/hexPlainsWalledCity00.png")
}

.hex.fortress {
    background-image: url(/* 0 0 256 384 50 */ "../../BigAssets/Medieval-Fantasy Hex Locations/Tiles/hexMountainFortress00.png")
}

.hex.dwarven-fort {
    background-image: url(/* 0 0 256 384 50 */ "../../BigAssets/Medieval-Fantasy Hex Locations/Tiles/hexMountainDwarfFortress00.png")
}

.hex.fog {
    filter: saturate(0.5)
}

.map.unselected .hex {
    filter: brightness(0.5)
}

.map.unselected .hex.selected {
    filter: none;
}

.hex.selected:after {
    height: 192px;
    width: 128px;
    content: "";
    display: block;
    background: linear-gradient(0, rgba(255,255,244,0.5), rgba(255,255,244,0))
}

.hex .name {
    display: block;
    margin-top: 140px;
    z-index: 10;
    position: relative;
    background: linear-gradient(90deg, rgba(128,128,128,0) 0%, 
                                       rgba(128, 128, 128, 0.75) 50%, 
                                       rgba(128,128,128,0) 100%);
    text-align: center;
    color: white;
    text-shadow: black 0 0 4px;
    font-size: 18px;
    margin-left: -20px;
    margin-right: -20px;
}

.unselected .hex .name { display: none }